h3 {
    font: normal 30px HelveticaNeue, Arial, sans-serif;
    color: #222;
    margin: 0 0 3px;
}

a {
    color: #7ab800;
}

.grayLine {
    border-top: 1px solid #E0E0E0;
    margin-bottom: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.no-padding {
    padding: 0;
}

.disabled_anchor {
    color: gray;
}

.badges {
    .col-md-2 {
        text-align: center;
        width: 100px;
    }

    .indent {
        margin-left: 32px;

        & > .col-md-2 {
            margin-top: -5px;
        }
    }
}

.navbar {
    width: 100%;
    background: #191919 url('Images/header-bg.gif') repeat-y center;

    .nav {
        margin: 24px 0 0 24px;

        ul {
            margin-top: 24px;

            li {
                a:link, a:visited {
                    /* TODO: can we make this not px font, but em? */
                    font: 18px/18px Arial, HelveticaNeue, sans-serif;
                    color: #d3d3d3;
                    text-decoration: none;
                }

                a {
                    .active {
                        color: white;
                    }
                }
            }
        }
    }

    .navbar-header {
        img {
            margin: 24px 0 10px 32px;
            float: left;
        }
    }

    .navbar-collapse {
        background: url('Images/header-shadow.png') 140px 0 no-repeat;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

footer {
    width: 100%;
    height: 72px;
    background-color: #F2F2F2;
    border-top: 1px solid #DCDCDC;

    p {
        font-size: smaller;
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
