@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.Common.Interfaces
@model IBadgeAwardEditCollection

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-12">
                    <h2>@String.Format(ApplicationResources.BadgeAwardsHeader, Model.First().EmployeeADName)</h2>
                </div>
            </div>

            <div class="row">
                &nbsp;
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.EditorFor(m => m)
                </div>
            </div>
        </div>
    </div>
</div>
