@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.Common.Interfaces

@model IPointsReportCollection

<div id="displayThreshold">
    <div class="row">
        <div class="col-md-12">
            @Html.EditorFor(m => m)
        </div>
    </div>
</div>