@using Magenic.BadgeApplication.Models
@model LogOnViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4 grayBox">
            @Html.EditorFor(lovm => lovm)
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>