@using Magenic.BadgeApplication.BusinessLogic.AccountInfo
@using Magenic.BadgeApplication.Resources
@model AccountInfoEdit

<h2>
    @ApplicationResources.PointPayoutThresholdHeader
</h2>
<b>
    Payout at
</b>
            (25 point increments):
<span class="greenEmphasis">
    @Model.PointPayoutThreshold pts
</span>
<br />
@using (Ajax.BeginForm(Mvc.Account.Actions.SubmitPayout(), new AjaxOptions() { UpdateTargetId = "PayoutSlider", OnSuccess = "onSuccess" }))
{
    var minValue = 50;
    var maxValue = 500;
    var htmlAttributes = new RouteValueDictionary();
    htmlAttributes.Add("data-slider-min", minValue);
    htmlAttributes.Add("data-slider-max", maxValue);
    htmlAttributes.Add("data-slider-step", 25);
    htmlAttributes.Add("data-slider-value", @Model.PointPayoutThreshold);
    htmlAttributes.Add("data-slider-orientation", "horizontal");
    htmlAttributes.Add("class", "slider");

    <div class="col-sm-1">
        @minValue
    </div> 
    <div class="col-sm-7">
        @Html.TextBoxFor(m => m.PointPayoutThreshold, htmlAttributes)
    </div>
    <div class="col-sm-1">
        @maxValue
    </div>
}