@using Magenic.BadgeApplication.Resources

@Html.ActionLink(ApplicationResources.AddEditBadges, Mvc.BadgeManager.Index())
&nbsp;|&nbsp;
@Html.ActionLink(ApplicationResources.CommunityBadgesForApproval, Mvc.BadgeManager.ApproveCommunityBadges())
&nbsp;|&nbsp;
@Html.ActionLink(ApplicationResources.PointsReport, Mvc.BadgeManager.PointsReport())
&nbsp;|&nbsp;
@Html.ActionLink(ApplicationResources.ActivitiesForApproval, Mvc.BadgeManager.ApproveActivities())

<div class="row">
    &nbsp;
</div>