<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Badge.csdl|res://*/Badge.ssdl|res://*/Badge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JOHNPE-PC1;initial catalog=Magenic.BadgeApplication.DB;Integrated Security=True;Pooling=False&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/Badge.csdl|res://*/Badge.ssdl|res://*/Badge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:pss4cgv118.database.windows.net,1433;initial catalog=Magenic.BadgeApplication.DB;user id=kevinf@pss4cgv118;password=KittyKat54;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="SleepIntervalInMilliseconds" value="60000"/>
    <add key="YammerMessage" value="body=Attention Magenincons [[user:{0}]] has earned the {1} badge!&amp;broadcast={2}&amp;og_url={3}&amp;og_image={4}&amp;og_title={5}&amp;og_description={6}"/>
    <add key="YammerToken" value="Y3SGAUBvgDRVQWeTNfBA" />
    <add key="YammerCurrentUserURL" value="https://www.yammer.com/api/v1/users/current.json" />
    <add key="YammerMessageURL" value="https://www.yammer.com/api/v1/messages.json" />
    <add key="YammerGetUserURL" value="https://www.yammer.com/api/v1/users/by_email.json?email={0}" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>