<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/Badge.csdl|res://*/Badge.ssdl|res://*/Badge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JOHNPE-PC1;initial catalog=Magenic.BadgeApplication.DB;Integrated Security=True;Pooling=False&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/Badge.csdl|res://*/Badge.ssdl|res://*/Badge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Magenic.BadgeApplication.DB;trusted_connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!-- Processor settings -->
    <add key="TimerIntervalInMilliseconds" value="60000" />
    <add key="QueueProcessingHours" value="12,18"/>
    <add key="NotificationDay" value="Monday" />
    <add key="NotificationHourOfDay" value="12"/>
    <add key="SubmissionNotifyProcessingHours" value="5,12,19"/>

    <add key="Message" value="Attention Magenicons {0} has earned the {1} badge!" />
    
    <!-- Publishers to send notifications -->
    <add key="ActivePublishers" value="EmailPublisher,TeamsPublisher" />
    <add key="DebugOverrideEmailTo" value=""/>
    
    <add key="YammerMessage" value="body=Attention Magenicons [[user:{0}]] has earned the {1} badge!&amp;broadcast={2}&amp;og_url={3}&amp;og_image={4}&amp;og_title={5}&amp;og_description={6}" />
    <add key="YammerToken" value="" />
    <add key="YammerCurrentUserURL" value="https://www.yammer.com/api/v1/users/current.json" />
    <add key="YammerMessageURL" value="https://www.yammer.com/api/v1/messages.json" />
    <add key="YammerGetUserURL" value="https://www.yammer.com/api/v1/users/by_email.json?email={0}" />

    <add key="FlowBaseURL" value="https://prod-61.westus.logic.azure.com:443" />
    <add key="FlowEndpoint" value="workflows/06bd1b1d25664c21a06335882e077e0e/triggers/manual/paths/invoke?api-version=2016-06-01&amp;sp=%2Ftriggers%2Fmanual%2Frun&amp;sv=1.0&amp;sig=IsP9J9HWrGmSDRjc8V4rhAKKu3P3motbZu_UdG4uXE8" />
    <!--<add key="FlowBaseURL" value="https://prod-51.westus.logic.azure.com:443"/>-->
    <!--<add key="FlowEndpoint" value="workflows/b26dc0f4b10f488c98a830c148a27de8/triggers/manual/paths/invoke?api-version=2016-06-01&amp;sp=%2Ftriggers%2Fmanual%2Frun&amp;sv=1.0&amp;sig=NNwtcticzES75WxwQtett2IpRK36Bvy2KyN-ANOsKNY"/>-->

    <add key="LeaderboardURL" value="https://badgeapplication.magenic.com/Leaderboard/show/{0}" />
    <add key="ITDataServiceURL" value="https://dataservice.magenic.com/MagenicDataService.svc/" />
    <add key="ADPath" value="" />
    <add key="SMTPAddress" value="smtp.magenic.com" />
    <add key="SMTPPort" value="25" />
    <add key="EnableSSLforSMTP" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Environment" value="Debug"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="Human Resources &lt;hr@magenic.com&gt;">
        <network host="smtp.magenic.com" port="25" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="LogFile.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
