@using Magenic.BadgeApplication.Models
@using Magenic.BadgeApplication.Common.Interfaces
@using Magenic.BadgeApplication.BusinessLogic.Activity
@model IEnumerable<IBadgeItem>

@{
    var badgeItems = Model.ToList();
    var maxColumns = 5;
}

@for (int row = 0; row <= badgeItems.Count() / maxColumns; row++)
{
    var className = "row";
    if (row % 2 == 1)
    {
        className = "row indent";
    }

    <div class="@className">
        @for (int col = row * maxColumns; col < (row * maxColumns) + maxColumns; col++)
        {
            if (col < badgeItems.Count())
            {
                var badge = badgeItems[col];
                <a href="#BadgeWindow-@badge.Id" data-toggle="modal">
                    @Html.DisplayFor(m => badge)
                </a>
                @Html.Partial(Mvc.Shared.Views._BadgeWindow, badge, new ViewDataDictionary() { { "AllActivities", ViewData["AllActivities"] as ActivityCollection } })
            }
        }
    </div>
}