@using Magenic.BadgeApplication.Common.Interfaces
@model IEnumerable<IEarnedBadgeItem>

@{
    var earnedBadges = Model.ToList();
    var maxColumns = 5;
}

@for (int row = 0; row <= earnedBadges.Count() / maxColumns; row++)
{
    var className = "row";
    if (row % 2 == 1)
    {
        className = "row indent";
    }

    <div class="@className">
        @for (int col = row * maxColumns; col < (row * maxColumns) + maxColumns; col++)
        {
            if (col < earnedBadges.Count())
            {
                var earnedBadge = earnedBadges[col];
                <a href="#EarnedBadgeWindow-@earnedBadge.Id" data-toggle="modal">
                    @Html.DisplayFor(m => earnedBadge)
                </a>
                @Html.Partial(Mvc.Shared.Views._EarnedBadgeWindow, earnedBadge)
            }
        }
    </div>
}