<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="SleepIntervalInMilliseconds" value="60000" />
    <add key="ErrorSleepIntervalInMilliseconds" value="3600000"/>
    <add key="NotificationDay" value="Monday"/>
    <add key="NotificationHourOfDay" value="12"/>
    <add key="YammerMessage" value="body=Attention Magenicons [[user:{0}]] has earned the {1} badge!&amp;broadcast={2}&amp;og_url={3}&amp;og_image={4}&amp;og_title={5}&amp;og_description={6}" />
    <add key="YammerToken" value="" />

    <!--<add key="YammerToken" value="" />-->
    
    <add key="YammerCurrentUserURL" value="https://www.yammer.com/api/v1/users/current.json" />
    <add key="YammerMessageURL" value="https://www.yammer.com/api/v1/messages.json" />
    <add key="YammerGetUserURL" value="https://www.yammer.com/api/v1/users/by_email.json?email={0}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

</configuration>
