@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model BadgeEditViewModel

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ApplicationResources.AddBadgeHeader</h2>
                </div>
            </div>
            @using (Html.BeginForm("AddBadgePost", "BadgeManager", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.EditorFor(bevw => bevw.Badge, new { AllActivities = Model.AllActivities })
            }
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/badgeManager")
}