@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model ApproveCommunityBadgesViewModel

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ApplicationResources.CommunityBadgesForApprovalHeader</h2>
                </div>
            </div>
            <div class="row">
                <div id="AdminActivitiesForm" class="col-md-10 darkGrayHeaderList">
                    @Html.Hidden("UrlToApprove", Mvc.BadgeManager.ApproveCommunityBadges())
                    @Html.Partial(Mvc.BadgeManager.Views._CommunityBadgesForApproval)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>