@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Common.Interfaces
@model IActivityCollection

<div class="container">
    <div class="row">
        @Html.Partial("_AdminNavbar")
    </div>
    <div class="row">
        <div class="col-md-12 grayBox">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ApplicationResources.ManageActivitiesHeader</h2>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>