<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.2.0" targetFramework="net45" />
  <package id="CSLA-Core" version="4.5.501" targetFramework="net45" />
  <package id="CSLA-Templates" version="4.5.501" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.7.2" targetFramework="net45" />
</packages>