@using Magenic.BadgeApplication.Resources
@using Magenic.BadgeApplication.Models
@model ActivityIndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8 grayHeaderList">
            @Html.Partial(Mvc.Activities.Views._PreviousActivities, Model)
        </div>

        <div class="col-md-4 grayBox submittedActivity">
            @Html.EditorFor(bivm => bivm.SubmittedActivity, new { PossibleActivities = Model.PossibleActivities, AvailableUsers = new SelectList(Model.AvailableUsers.OrderBy(ui => ui.FullName), "EmployeeId", "FullName") })
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/activityPage")
}